#Containerlogin{   
    background-image: linear-gradient(to right, #06C1A4 , #E0EC19);    
    margin-top: 200px;
}
.logologin{   
    background: -webkit-linear-gradient(left top, #FF0000, #1EBE0A);
    background: linear-gradient(to bottom right, #FF0000, #1EBE0A);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
    text-align: center;
}
.titulo{
    font-size: 3.5em;
    font-family: cursive;
    color: white;
}
body{   
    background-image: url(../..//Imagenes/LOGO.png);
    background-color:  #0CF2FF;    
    background-size: 39em;    
    margin:0px;    
}
#LogoT{
    height: auto;
    width: 100%;   
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
label{
    font-size: 1.25em;
    color: red;
}
#loginiz h1{
    font-size: 3em;
    color: blue;
    text-align: center;
}
.colorbtn{
    margin-top: 50px;
    background-image: linear-gradient(to right,   red, #1BFC03);  
    color: black;
}
.colorbtn:hover{  
    background-image: linear-gradient(to right,   blue, #1BFC03);    
}
#Usuario, #Contra{
    border-bottom: 5px solid red;
}
#Usuario:hover, #Contra:hover{
    border-bottom: 5px solid blue;
}

.Centerproducto{
    text-align: center;
}
.fondocon{
    background-image: linear-gradient(to right, #0D18D1 , yellow);
}
.separador{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to right, yellow, #0D18D1);
}
.form-control{
    outline: none;
    background-color: #dfe;
    border-radius: 20%;
    border-bottom: 5px solid red;    
    color: #000;
    font-weight: 500;
}
.se{
    margin-left: 10px;
    width: 95%;
}
input[type=text]:disabled {
    background: #c2acac;
    cursor: no-drop;
}
label{
    width: 100%
}
#mas{    
    margin-top: 50px;
    background-image: linear-gradient(to right,   #0D18D1, #487631);  
    font-size: 3em;   
    width: 80px;
    border-radius: 50%;
    color: red;
}
#mas:hover{
    background-image: linear-gradient(to right,   #487631, #57FC03);
    color:#8711EE ;
}
button img{
    height: 30px;
    widows: 100%;
}
#elimnarp{
    background-image: linear-gradient(to right,   #EC0D0D, #EC4A0D);
    border-radius: 50%;
}
#elimnarp:hover{
    background-image: linear-gradient(to right, #EC4A0D, #EC0D0D);

}
a{   
    color: black;
}
.active .page-link {       
    background-image: linear-gradient(to right, #1BFC03, yellow);    
}
.page-link{
    background-image: linear-gradient(to right, #1BFC03, yellow);    
}
.dataTables_info{
    color: red;   
}
.position-absolute{
    height: 150px;
    width: 150px;
    background-color: red;
}
.interior{
    margin-top: 100px;
}