<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <servlet>
        <servlet-name>ListaCategorias</servlet-name>
        <servlet-class>Controlador.ListaCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaSubCategorias</servlet-name>
        <servlet-class>Controlador.ListaSubCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarP</servlet-name>
        <servlet-class>Controlador.VerificarP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarFoto</servlet-name>
        <servlet-class>Controlador.GuardarFoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FotoGuardada</servlet-name>
        <servlet-class>Controlador.FotoGuardada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarProducto</servlet-name>
        <servlet-class>Controlador.RegistrarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarPro</servlet-name>
        <servlet-class>Controlador.VerificarPro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarProveedor</servlet-name>
        <servlet-class>Controlador.RegistrarProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraerProveedores</servlet-name>
        <servlet-class>Controlador.TraerProveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraerDatosProveedor</servlet-name>
        <servlet-class>Controlador.TraerDatosProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaCategoriasProvee</servlet-name>
        <servlet-class>Controlador.ListaCategoriasProvee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarProveedor</servlet-name>
        <servlet-class>Controlador.ModificarProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraerProductosFaltantes</servlet-name>
        <servlet-class>Controlador.TraerProductosFaltantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarPedido</servlet-name>
        <servlet-class>Controlador.RegistrarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaPedido</servlet-name>
        <servlet-class>Controlador.ListaPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoCompleto</servlet-name>
        <servlet-class>Controlador.PedidoCompleto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Traercompra</servlet-name>
        <servlet-class>Controlador.Traercompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarFactura</servlet-name>
        <servlet-class>Controlador.RegistrarFactura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoPedidoEstado</servlet-name>
        <servlet-class>Controlador.ListadoPedidoEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerFacturasPedidos</servlet-name>
        <servlet-class>Controlador.VerFacturasPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacturaCompleta</servlet-name>
        <servlet-class>Controlador.FacturaCompleta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroPago</servlet-name>
        <servlet-class>Controlador.RegistroPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inicioseesion</servlet-name>
        <servlet-class>Controlador.Inicioseesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraerProductoDiponible</servlet-name>
        <servlet-class>Controlador.TraerProductoDiponible</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Controlador.ListadoProductosdis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraerProductosMo</servlet-name>
        <servlet-class>Controlador.TraerProductosMo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarFacturaCompra</servlet-name>
        <servlet-class>Controlador.RegistrarFacturaCompra</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListaCategorias</servlet-name>
        <url-pattern>/ListaCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaSubCategorias</servlet-name>
        <url-pattern>/ListaSubCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarP</servlet-name>
        <url-pattern>/VerificarP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarFoto</servlet-name>
        <url-pattern>/GuardarFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FotoGuardada</servlet-name>
        <url-pattern>/FotoGuardada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarProducto</servlet-name>
        <url-pattern>/RegistrarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarPro</servlet-name>
        <url-pattern>/VerificarPro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarProveedor</servlet-name>
        <url-pattern>/RegistrarProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraerProveedores</servlet-name>
        <url-pattern>/TraerProveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraerDatosProveedor</servlet-name>
        <url-pattern>/TraerDatosProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaCategoriasProvee</servlet-name>
        <url-pattern>/ListaCategoriasProvee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProveedor</servlet-name>
        <url-pattern>/ModificarProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraerProductosFaltantes</servlet-name>
        <url-pattern>/TraerProductosFaltantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarPedido</servlet-name>
        <url-pattern>/RegistrarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaPedido</servlet-name>
        <url-pattern>/ListaPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoCompleto</servlet-name>
        <url-pattern>/PedidoCompleto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Traercompra</servlet-name>
        <url-pattern>/Traercompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarFactura</servlet-name>
        <url-pattern>/RegistrarFactura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoPedidoEstado</servlet-name>
        <url-pattern>/ListadoPedidoEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerFacturasPedidos</servlet-name>
        <url-pattern>/VerFacturasPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacturaCompleta</servlet-name>
        <url-pattern>/FacturaCompleta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroPago</servlet-name>
        <url-pattern>/RegistroPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inicioseesion</servlet-name>
        <url-pattern>/Inicioseesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraerProductoDiponible</servlet-name>
        <url-pattern>/TraerProductoDiponible</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraerProductosMo</servlet-name>
        <url-pattern>/TraerProductosMo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarFacturaCompra</servlet-name>
        <url-pattern>/RegistrarFacturaCompra</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
