<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <servlet>
        <servlet-name>ListaCategorias</servlet-name>
        <servlet-class>Controlador.ListaCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaSubCategorias</servlet-name>
        <servlet-class>Controlador.ListaSubCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarP</servlet-name>
        <servlet-class>Controlador.VerificarP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarFoto</servlet-name>
        <servlet-class>Controlador.GuardarFoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FotoGuardada</servlet-name>
        <servlet-class>Controlador.FotoGuardada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarProducto</servlet-name>
        <servlet-class>Controlador.RegistrarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarPro</servlet-name>
        <servlet-class>Controlador.VerificarPro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarProveedor</servlet-name>
        <servlet-class>Controlador.RegistrarProveedor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListaCategorias</servlet-name>
        <url-pattern>/ListaCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaSubCategorias</servlet-name>
        <url-pattern>/ListaSubCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarP</servlet-name>
        <url-pattern>/VerificarP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarFoto</servlet-name>
        <url-pattern>/GuardarFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FotoGuardada</servlet-name>
        <url-pattern>/FotoGuardada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarProducto</servlet-name>
        <url-pattern>/RegistrarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarPro</servlet-name>
        <url-pattern>/VerificarPro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarProveedor</servlet-name>
        <url-pattern>/RegistrarProveedor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
